.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    }
    
.logo__part {
    color: var(--blue-color);
    }

.logo--color-dark {
    color: var(--black-color);
    }


.logo--color-light {
    color: var(--white-color);
     }