.team {
background-color: var(--milk-color);
}

.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--black-color);  
}

.team-list__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color); 

    margin-bottom: 10px;
}

.team-list__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--grey-color);
}

.team-list {
    display: flex;
}

.team-list__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    & + & {
        margin-left: 30px;  
    }
}

.team-list__image {
    margin-bottom: 30px;
}

.socials {
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
}

.socials__item + .socials__item {
    margin-left: 10px;
}

.socials__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--blue-color);
}
}

.socials__icon{
    fill: var(--color3);

    .socials__link:hover & {
        fill: var(--white-color);
    }
    
    .socials__link:focus & {
        fill: var(--white-color);
    }
}



