.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 40px;
    width: 528px;
    height: 581px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

      .modal-form__title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        
        color: var(--black-color);
       }

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.7);
        }
    }
    
    
    .field__label {
        display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--grey-color);
    margin-right: auto;
    margin-bottom: 4px;
    }
    
    .field-text_input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        outline: transparent;
    
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--blue-color);
            }
    }
    
    .field-text {
        position: relative;
        margin-bottom: 10px;
    }
    
    .field-text__icon {
        position: absolute;
        height: 18px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);

        .field-text_input:focus + & {
            fill: var(--blue-color);
        }
    }
    
    .comment__text {
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        outline: transparent;
    
        padding: 12px 16px;
        margin-bottom: 20px;
    
        transition-property: boreder-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--blue-color);  
        }

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            
            color: rgba(117, 117, 117, 0.5);
            }
    }
    
    .consent__text {
        @extend %align-template; 
        justify-content: center;
        margin-bottom: 30px;

        span {
            width: 16px;
            height: 15px;
            border: 2px solid var(--black-color);
            border-radius: 2px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .consent__check {
        display: flex;
        margin-right: auto; 
    }
    
    .consent__icon {
        fill: transparent;
    }
    
    .consent__check:checked + .consent__text span {
    background-color: var(--blue-color);
    border: none;
    }
    
    .consent__check:checked + .consent__text .consent__icon {
        fill: var(--white-color);
    }
    
    .consent__link {
        color: var(--blue-color);
    }
    
    .consent__txt {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    }
    
    .modal__button {
    width: 200px;
    height: 50px;
    background-color: var(--blue-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
    }
    
    .modal-form__close {
    position: absolute;
    top: 8px;
    right: 8px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &-icon {
        fill: #000000;
        
        transition-property:fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    .modal-form__close:hover .modal-form__icon{
    
        fill: var(--blue-color);
    }
    
    .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
    }