:root {
    --black-color: #212121;
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #FFFFFF;
    --dark-gray-color: #2F303A;
    --milk-color: #F5F4FA;
    --color3: #AFB1B8;
}